<% @nhomkhoaphongs.each do |nhomkhoaphong| %>
    <tr>
      <td><%= nhomkhoaphong.ma %></td>
      <td><%= nhomkhoaphong.ten %></td>
      <td><%= link_to edit_danhmuc_nhomkhoaphong_path(nhomkhoaphong), data: {remote: true}, :title => t('edit') do %>
            <i class="glyphicon glyphicon-edit"></i>
        <% end %>
        <%= link_to danhmuc_nhomkhoaphong_delete_path(nhomkhoaphong), data: {remote: true}, :title => t('delete') do %>
            <i class="glyphicon glyphicon-trash"></i>
        <% end %>
      </td>
    </tr>
<% end %>