<div  id="confirm-modal"  class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Xác nhận xóa</h4>
      </div>
      <div class="modal-body" id="#question">
        Bạn có muốn xóa thông tin này hay không?
      </div>
      <div class="modal-footer">
        <a id="delete" href="javascript:;" class="btn btn-danger"
           data-method="delete">Delete</a>
        <a class="btn btn-default" data-dismiss="modal" href="#">Cancel</a>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div><!-- /.modal -->